.project-grid {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px;
	width: 70%;
  min-width: 924px;
	height: 100%;
	border-radius: 10px;
  margin-bottom: 20px;
	box-shadow: 8px 10px 27px -1px rgba(0, 0, 0, 0.12);
}

.project-link {
	visibility: hidden;
}

.project-post {

	border-radius: 9px;
	margin-top: 25px;
}

.project-post:hover .project-description-wrap {
  cursor: pointer;
	color: #df562a;
	transition: color 300ms;
}

.image-top {
	position: relative;
}

.project-image {
	position: relative;
	width: 448px;
	height: 259px;
	object-fit: fill;
  border-radius: 9px;
	box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.2);
}

.gif-hover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	object-fit: fill;
	opacity: 0;
	transition: opacity 0.2s;
  cursor: pointer;
}

.project-image:hover {
	opacity: 0;
}

.gif-hover:hover {
	opacity: 1;
}

.main-image {
	filter: grayscale(57%);
}

.project-description-wrap {
	border-radius: 3px;
	bottom: 265px;
	width: 100%;
	height: 20%;
	position: relative;
  border-radius: 9px;
	transition: color 800ms;
	background-image: linear-gradient(0deg, transparent 45%, #f9f9f9 91%);
}

.descript {
	font-size: 1.7em;
	font-weight: 600;
	font-family: "Bungee Outline", cursive;
	position: relative;
	bottom: 58px;
	left: 6px;
}

.time-stamp {
	font-family: "Bungee Outline", cursive;
	font-size: 1.4em;
	font-weight: 600;
	position: relative;
	bottom: 0px;
	left: 357px;
}

.project-bottom {
	border-bottom: 1px solid #e8e8ed;
}

@media only screen and (max-width: 1200px) {
  .aside-wrap,
	.aside-about-me {
		display: none;
	}

}

@media only screen and (max-width: 1200px) {
  .project-grid {
    min-width: 988px;
  }
}

@media only screen and (max-width: 768px) {
  .projects-view-wrap {
    justify-content: center;
  }

  .project-grid {
    min-width: 729px;
  }

  .project-image {
		width: 313px;
		height: 181px;
	}

  .project-description-wrap {
		width: 100%;
		bottom: 186px;
	}

  .descript {
		font-size: 1.2em;
		bottom: 42px;
		left: 2px;
	}

  .time-stamp {
		font-size: 1em;
		left: 247px;
	}

}

@media only screen and (max-width: 425px) {
	.projects-view-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project-grid {
		display: flex;
		flex-direction: column;
		width: 90%;
    min-width: 0px;
	}

	.project-image {
		width: 313px;
		height: 181px;
	}

	.project-description-wrap {
		width: 96%;
		bottom: 186px;
	}

	.descript {
		font-size: 1.2em;
		bottom: 42px;
		left: 2px;
	}

	.time-stamp {
		font-size: 1em;
		left: 247px;
	}
}

@media only screen and (max-width: 414px) {
  .project-grid {
    align-items: center;
    width: 87%;
  }

  .project-description-wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
	.project-post {
		/* margin-left: 11px; */
		margin-top: 15px;
	}

	.project-image {
    width: 276px;
    height: 158px;
}

	.project-description-wrap {
    width: 100%;
    bottom: 163px;
  }

	.descript {
    font-size: 17px;
    bottom: 36px;
    left: 0px;
  }

	.time-stamp {
    font-size: 1em;
    text-shadow: 0px 1px 8px #e8e8ed;
    left: 208px;
    top: 140px;
  }
}

@media only screen and (max-width: 320px) {
  .project-grid {
    width: 90%;
  }

  .project-image {
    width: 248px;
    height: 144px;
  }

  .project-description-wrap {
    bottom: 149px;
  }

  .time-stamp {
    left: 181px;
    top: 126px;
}

}

@media only screen and (max-width: 280px) {
  .project-image {
    width: 216px;
    height: 125px;
  }

  .project-description-wrap {
    width: 100%;
    bottom: 130px;
}

  .descript {
    font-size: 17px;
    bottom: 36px;
    left: 0px;
  }

  .time-stamp {
    font-size: 1em;
    left: 148px;
    top: 108px;
}
}
