

@media screen and (min-width: 812px) {

  .project-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    /* background-color: #F9F9F9; */
    /* width: 1450px; */
    width: 70%;
    /* height: 693px; */
    height: 100%;
    border-radius: 10px;
    box-shadow: 8px 10px 27px -1px rgba(0,0,0,0.12)
  }

  .project-link {
    visibility: hidden;
  }

  .project-post {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 398px;
    height: 86%;
    border-radius: 9px;
    margin-top: 15px;
  }

  .project-post:hover .project-description-wrap  {
    color: #DF562A;
    transition: color 300ms;
  }
  
  .image-top {
    position: relative;
  }

  .project-image {
    position: relative;
    width: 448px;
    height: 259px;
    object-fit: fill;
    box-shadow: 5px 6px 13px 2px rgba(0,0,0,0.20)
  }

   .gif-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: fill;
    opacity: 0;
    transition: opacity .2s;
  }

  .project-image:hover {
    opacity: 0;
  }

  .gif-hover:hover {
    opacity: 1;
  }
  
  
  .project-description-wrap {
    border-radius: 3px;
    bottom: 265px;
    width: 113%;
    height: 20%;
    position: relative;
    transition: 300ms;
    background-image: linear-gradient( 
      0deg
      ,transparent 45%,#F9F9F9 91%);
    }
    
    .descript {
      font-size: 1.7em;
      font-weight: 600;
      font-family: 'Bungee Outline', cursive;
      position: relative;
      bottom: 58px;
      left: 6px;
      /* transition: all 500ms; */
    }
  
    .time-stamp {
      font-family: 'Bungee Outline', cursive;
      font-size: 1.4em;
      font-weight: 600;
      position: relative;
      bottom: 0px;
      left: 357px;
      /* transition: all 500ms; */
      /* background-image: linear-gradient(
  0deg
  ,transparent 20%,#DF562A 52%); */
    }

  .project-bottom {
    border-bottom: 1px solid #E8E8ED;
  }

}
