.main-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-title {
  position: relative;
  font-family: 'Changa', sans-serif;
}

.landing-circle {
  display: flex;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #F4C7B8;
}

.wave-1 {
  position: relative;
  height: 100px;
  top: 204px;
  transform: rotate(180deg) scale(35);
  z-index: 5;
  overflow: hidden;
}

.wave-2 {
  position: relative;
  height: 100px;
  top: 141px;
  transform: rotate(180deg) scale(42);
  z-index: 4;
  overflow: hidden;
}

.wave-3 {
  position: relative;
  height: 100px;
  top: 92px;
  right: 425px;
  transform: rotate(180deg) scale(40);
  z-index: 3;
  overflow: hidden;
}

.wave-4 {
  position: relative;
  height: 100px;
  top: 37px;
  right: 103px;
  transform: rotate(180deg) scale(25);
  z-index: 2;
  overflow: hidden;
}


/* safari view */
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    /* .wave-1 {
      height: 100px;
      top: 204px;
      transform: rotate(180deg) scale(35);
      filter: none;
    }

    .wave-2 {
      position: relative;
      height: 100px;
      top: 141px;
      transform: rotate(180deg) scale(42);
      z-index: 4;
      overflow: hidden;
      filter: none;
    }

    .wave-3 {
      position: relative;
      height: 100px;
      top: 92px;
      right: 425px;
      transform: rotate(180deg) scale(40);
      z-index: 3;
      overflow: hidden;
      filter: none;
    }

    .wave-4 {
      position: relative;
      height: 100px;
      top: 37px;
      right: 103px;
      transform: rotate(180deg) scale(25);
      z-index: 2;
      overflow: hidden;
      filter: none;
    } */
    
  }
}