.contact-wrap {
  height: 100%
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
	height: 100%;
  padding: 20px;
  margin-top:25px;
  margin-bottom: 16px;
	border-radius: 10px;
  overflow: hidden;
	box-shadow: 8px 10px 27px -1px rgba(0, 0, 0, 0.12);
}

.wave-4 {
  position: relative;
  height: 100px;
  top: 85px;
  right: 103px;
  transform: rotate(180deg) scale(5);
  overflow: hidden;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 16px;
  z-index: 2;
}

.submit-button {
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #df562a;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#df562a;
  background-color: transparent;
  text-align:center;
  transition: all 600ms;
  width: 100px;
}

.submit-button:hover {
  color:#f9f9f9;
  background-color:#df562a;
}