
  .search-wrap {
    width: 22%;
    display: flex;
    justify-content: center;
  }
  .search-form {
    text-align: center;
    width: 100%;
  }
  form {
    height: 50px;
  }

  form input:focus, textarea:focus {
    outline-color:#DF562A;
  }

  .search-input:hover {
    border-color: #DF562A;
    box-shadow: 0 0 10px #DF562A;
    width: 80%;
    transition: box-shadow linear 0.2s, width 500ms ease;
  }

  .search-input {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: solid #c8ccd0 1px;
    transition: all 800ms
  }

@media only screen and (max-width: 1200px) {
  
  .search-wrap {
    display: none;
  }

}
