// @import 'normalize';

* {
  border: 1px #D2CED2 solid;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
}

body {
  border: 2px #AE371F solid;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F5F6FB;
  justify-content: space-between;
  height: 100vh;
  font-weight: 200;
}

.main-content {
  display: flex;
  height: 97vh;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.blog-post {
  background-color: white;
}

.blog-image {

}

.hidden {
  display: none !important;
}

@media only screen and (min-device-width: 812px)
{
  .head-nav {
    display: flex;
  }

  .blog {

  }

  .blog-image {
  width: 33vh;
  }

  .time-stamp {
    width: 3.5vw;
    position: relative;
    bottom: 18vh;
    left: 13.7vw;
    background-image: linear-gradient(
180deg
,transparent 65%,#AE371F 65%);
    /* border-bottom: 3px #AE371F solid; */
  }

  .about-me {

  }

}
