@media screen and (min-width: 812px) {

  .header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    height: 76px;
    margin-bottom: 75px;
    /* border-bottom: 2px solid #bababe; */
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.04);
  }

  .nav-links {
    width: 64%;
    display: flex;
    list-style-type: none;
    align-content: stretch;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: 1.5em;
    font-weight: 400;
  }

  li {
    font-weight: 600;
  }

  li:hover {
    color: #DF562A;
    transition: color 300ms;
  }
}