
  .about-me-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .me-picture-container {
    height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  }

  .me-photo {
    width: 100%;
    position: relative;
  }

  .about-me-body {
    font-size: 1.25em;
  }

  .check {
    color: #DF562A;
  }
